.weather-container{
    background:#ccc;
    text-align: center;
}
.weather{
    font-size: 22px;
    margin: 0;
}
.icon{
    margin-top: 8%;
    width: 8%;

}
.temp{
    font-size: 60px;
    margin: 0;
    font-weight: bold;
}